.blockish-control{
    margin-bottom: calc(16px) !important;
}

.blockish-group-control {
    > .components-tools-panel{
        border: 1px solid #dddddd !important;
        padding: 12px !important;

        .blockish-control{
            margin-bottom: calc(6px) !important;
            &:not(.blockish-background-image-section .blockish-control){
                margin-bottom: 0 !important;
            }
        }
    }
}