.blockish-heading {
	.blockish-heading-text {
		margin: 0;
		padding: 0;
	}

	a{
		color: inherit !important;
		font-size: inherit !important;
		text-decoration: inherit !important;
		font-weight: inherit;
	}
}
