.wp-block-blockish-container {
    min-height: var(--container-min-height, 100%);
    transition: all 0.3s ease;

    &.has-background-video {
        position: relative;
        overflow: hidden;

        > :not(.blockish-container-background-video) {
            position: relative;
            z-index: 1;
        }
    }

    &.has-background-overlay {
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 0;
        }
    }

    .blockish-container-background-video {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    .wp-block-blockish-container{
        width: 100%;
    }
}
