.blockish-site-logo {
	margin: 0;
	line-height: 0;

	a {
		display: block;
	}

	.blockish-site-logo__image {
		display: block;
		height: auto;
	}
}

:where(.blockish-site-logo) {
	text-align: left;
}

:where(.blockish-site-logo .blockish-site-logo__image) {
	width: 120px;
}
