.blockish-social-icons {
	display: grid;
	grid-template-columns: repeat(
		var(--blockish-social-icons-columns, auto-fit),
		minmax(0, max-content)
	);
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	column-gap: 12px;
	row-gap: 12px;

	&.is-color-official {
		.blockish-social-icon-item__link {
			background-color: var(--blockish-social-icon-official-color, #2563eb);
		}
	}

	&.is-color-custom {
		.blockish-social-icon-item__link {
			background-color: var(--blockish-social-icons-primary-color, #111827);
		}
	}

	&.shape-square {
		.blockish-social-icon-item__link {
			border-radius: 0;
		}
	}

	&.shape-rounded {
		.blockish-social-icon-item__link {
			border-radius: 8px;
		}
	}

	&.shape-circle {
		.blockish-social-icon-item__link {
			border-radius: 999px;
		}
	}

	.blockish-social-icon-item {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.blockish-social-icon-item__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		color: var(--blockish-social-icons-secondary-color, #ffffff);
		border: 0;
		line-height: 1;
		text-decoration: none;
		animation-duration: 0.6s;
		animation-fill-mode: both;
	}

	.blockish-social-icon-item__icon {
		display: inline-flex;
		line-height: 1;
	}

	.blockish-social-icon-item__icon svg {
		width: 18px;
		height: 18px;
		fill: currentColor;
	}
}
