.blockish-class-manager {
    padding: 16px;

    &>div[role='group'] {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .blockish-class-manager-class-item {
        width: auto;
        height: 28px !important;
        padding: 0 !important;
        position: relative;

        &.blockish-class-manager-class-item-selected {
            background-color: #001feb;
            color: #fff;

            .components-text {
                color: #fff;
            }
        }

        &:not(:last-child) {
            padding: 8px 12px !important;
            border: 1px solid #e9e9e9;
        }

        span {
            min-width: auto !important;

            &.blockish-class-manager-class-item-remove {
                width: 16px;
                height: 16px;
                position: absolute;
                top: -8px;
                right: -7px;
                cursor: pointer;
                background-color: #eb0000;
                border-radius: 50%;
                padding: 2px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    fill: #fff;
                }
            }
        }
    }

    .blockish-class-manager-add-btn {
        min-height: auto !important;
        min-width: auto !important;
        width: 30px;
        height: 30px;
        border: 1px solid #e9e9e9;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        transition: all 0.2s ease-in-out;

        &:focus,
        &:hover {
            border-color: #001feb !important;

            svg {
                color: #001feb !important;
            }
        }
    }
}

.blockish-class-manager-input-dropdown-content {
    min-width: 220px;
    max-width: 220px;

    .components-popover__content {
        width: 100% !important;

        .blockish-input-dropdown-content {
            padding: 16px;
        }
    }

    .blockish-class-manager-classes {
        padding: 0 !important;
        max-height: 250px;
        min-height: 50px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 6px;
        }

        .blockish-class-manager-class {
            cursor: pointer;
            padding: 8px !important;
            height: 30px !important;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            transition: all 0.2s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 8px;
            }


            .components-menu-item__item {
                justify-content: space-between !important;

                .blockish-class-manager-delete {
                    width: 16px;
                    height: 16px;

                    svg {
                        fill: #eb0000;
                    }
                }
            }

            &.blockish-class-manager-class-selected {
                background-color: #001feb;
                color: #fff;

                .components-text {
                    color: #fff;
                }

                .blockish-class-manager-delete {
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .blockish-class-manager-search {
        position: static;
        margin-bottom: 10px;

        .components-input-control__input {
            min-height: auto !important;
            height: 30px !important;
            padding: 0;
            padding-inline: 0 !important;
        }
    }

    .blockish-class-manager-input-dropdown-add {
        width: 100%;
        justify-content: center !important;
        align-items: center;
    }
}

.blockish-class-manager-popover {
    min-width: 340px !important;
    max-width: 350px;
    z-index: 99999 !important;

    .components-popover__content {
        width: 100% !important;
        padding: 16px !important;

        .components-base-control__field {
            gap: 0 !important;
        }

        .controls-dropdown-content-header {
            .controls-dropdown-content-header-title {
                span {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }

        .controls-dropdown-content-header-controls {
            display: flex;
            align-items: center;
            gap: 4px;

            .controls-dropdown-content-header-controls-button {
                box-shadow: none;
                border: 1px solid #e9e9e9;
                color: #101010;
                transition: all 0.2s ease-in-out;

                &:hover,
                &:focus {
                    border-color: #001feb !important;
                    color: #001feb !important;
                }
            }
        }

        .controls-dropdown-content-subselector-form {
            .controls-dropdown-content-subselector-form-input {
                &>.components-base-control__field {
                    margin-bottom: 0 !important;

                    .components-text-control__input {
                        border: 1px solid #e9e9e9 !important;
                        transition: all 0.2s ease-in-out !important;

                        &:focus,
                        &:hover {
                            border-color: #001feb !important;
                            color: #001feb !important;
                        }
                    }
                }
            }

            .controls-dropdown-content-subselector-form-button {
                height: 32px !important;
                background-color: #001feb !important;
                color: #fff !important;
                transition: all 0.2s ease-in-out !important;

                &:hover {
                    background-color: #001febaf !important;
                    color: #fff !important;
                }
            }
        }

        .controls-dropdown-content-subselector-group {
            display: flex;
            align-items: center;
            gap: 4px;
            flex-wrap: wrap;
            max-width: 100%;
            margin-block-end: 10px;

            .controls-dropdown-content-subselector-group__item {
                box-shadow: none;
                border: 1px solid #e9e9e9;
                color: #101010;
                transition: all 0.2s ease-in-out;
                padding: 4px 8px;
                height: 26px;

                &:hover,
                &:focus {
                    border-color: #001feb !important;
                    color: #001feb !important;
                }

                &.active {
                    background-color: #001feb;
                    color: #ffffff !important;
                }
            }
        }

        .blockish-class-manager-tab-panel {
            .components-tab-panel__tabs {
                justify-content: space-evenly;

                .components-tab-panel__tabs-item {
                    width: 100% !important;
                    background-color: #dee7ff;
                    color: #001feb;
                    height: 38px !important;
                }

                .components-tab-panel__tabs-item.is-active {
                    background-color: #001feb;
                    color: #ffffff !important;
                }
            }

            .components-tab-panel__tab-content {
                .components-input-control__backdrop {
                    height: auto !important;
                    min-height: auto !important;
                }

                .css-1nmdiq5-menu {
                    z-index: 4 !important;
                }
            }
        }
    }

    .controls-dropdown-content-subselectors {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .controls-dropdown-content-subselector {
            outline: none !important;
            box-shadow: none !important;
            width: auto;
            height: 28px !important;
            position: relative;
            background-color: #fff;
            color: #101010;

            &:not(:last-child) {
                padding: 8px 12px !important;
                border: 1px solid #e9e9e9;
            }

            &:hover {
                background-color: #fff;
                color: #101010;
            }

            &.subselector-selected {
                background-color: #001feb;

                .components-text {
                    color: #fff;
                }
            }

            .controls-dropdown-content-subselector-close {
                position: absolute;
                top: -7px;
                right: -7px;
                cursor: pointer;
                background: red;
                height: 16px;
                width: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                svg {
                    fill: #fff;
                }
            }
        }

        .blockish-class-manager-subselector-input-dropdown {
            height: 28px !important;
            border: 1px solid #e9e9e9;
            display: flex;
            justify-content: center;
            align-items: center;

            .controls-dropdown-content-subselector {
                height: auto !important;
            }
        }
    }
}

.controls-dropdown-content-header-edit-dropdown-content {
    min-width: 340px !important;

    .components-popover__content {
        width: 100% !important;
        padding: 16px !important;
    }
}
