.blockish-video-wrapper {
	margin: 0;

	.blockish-video-player {
		position: relative;
		width: 100%;
		max-width: 100%;
		aspect-ratio: 16 / 9;
		line-height: 0;
	}

	.blockish-video-player.is-aspect-auto {
		min-height: 360px;
	}

	.blockish-video {
		width: 100%;
		max-width: 100%;
		height: auto;
		border: 0;
	}

	video.blockish-video,
	.blockish-video-iframe {
		height: 100%;
	}

	.blockish-video-sandbox,
	.components-sandbox {
		display: block;
		width: 100%;
		height: 100%;
	}

	.blockish-video-iframe {
		min-height: 360px;
	}

	.blockish-video-overlay {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		pointer-events: auto;
		cursor: pointer;
	}

	.blockish-video-overlay.is-hidden {
		display: none;
	}

	.blockish-video-overlay-play-icon {
		--blockish-video-overlay-play-icon-size: 16px;
		width: 68px;
		height: 48px;
		border-radius: 12px;
		background: rgb(0 0 0 / 72%);
		position: relative;
	}

	.blockish-video-overlay-play-icon::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		transform: translate(-40%, -50%);
		border-top: calc(var(--blockish-video-overlay-play-icon-size) * 0.625) solid transparent;
		border-bottom: calc(var(--blockish-video-overlay-play-icon-size) * 0.625) solid transparent;
		border-left: var(--blockish-video-overlay-play-icon-size) solid #fff;
	}
}
